<h1> here are your orders</h1>

{{# each orders }}
<div class="row">
    <div class="panel panel-default col-md-8">
              <strong><p>Date & Time</p></strong>
              <p> {{this.date}}</p>
              <div>
                <h4>Delivery Address :- </h4> <p> {{ this.fullName }} {{ this.flatNo }} {{ this.street }}</p>
              </div>

          <div class="panel-body">
            <hr>
            <ul class="list-group">
                {{# each this.items }}
                    <li class="list-group-item">
                        <span class="badge">{{ this.price }}</span> {{ this.item.productname }} | {{ this.qty }}Units
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="panel-footer">
            <strong>Total Amount: {{ this.cart.totalPrice }}</strong>
        </div>

    </div>

  </div>
</div>
{{/each}}
</div>
</div>
