
<style>

#editbtn{
    color: #ffffff;
    background-image: linear-gradient(to bottom,#ec9700 0,#807d15 100%);
    border-color: #ffffff;
}
#heading{
    background: -webkit-linear-gradient(#ff6b01ad,#b3712e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align:center;
}

.thumbnail{
    border: 1px solid #050529;
    background-color: #050528;
}

.productName{
    color: #ffffff;
}

.description{
    color: #ffb300;
}

.category{
    color: #ffee00;
}

.price{
    color: #ffffff;
}

.col-md-offset-5 {
    margin-left: 45%;
}


</style>

<div>
  <h1 style="text-transform:capitalize" id="heading">{{ user.firstname }}'s Products</h1>
  {{# if message}}
        <div class="alert alert-success" role="alert">
             <p>{{message}}</p>
        </div>  
  {{/if}}
  <h6>{{ this.products.productname }}<h6>
{{# if products}}
<div>
    {{# each products }}
        <div class="row">
            {{# each this }}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
                        <div class="caption">
                            <h3 class="productName">{{ this.productname }}</h3>
                            <p class="description">{{ this.description }}</p>
                            <p class="category">{{ this.category }}</p>
                            <div class="clearfix">
                                <div class="price"><strong>Rs{{ this.price }}</strong></div>
                                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                <a href="/user/deleteproduct/{{this._id}}" class="btn btn-danger pull-right" role="button" id="deletebtn"><strong>Delete My Product</strong></a>
                                <button type="submit" class="btn btn-success" id="editbtn">edit my product</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
  </div>
  <div>
    <h1>orders received</h1>
  {{ else}}
   <h2 id="heading">Sorry {{ user.firstname}}, You Have Not Listed Any Product To Sell !!</h2>
    <div class="row">
            <div class="col-md-offset-5">           
                <a href="/user/sell" class="btn" role="button" id="editbtn"><strong>Start Selling Now</strong></a>
            </div>
    </div>    
{{/if}}
