<style>

.btn{
    color: #ffffff;
    background-image: linear-gradient(to bottom,#ec9700 0,#807d15 100%);
    border-color: #ffffff;

}

#info{
    color: white;
    text-transform:capitalize;
}

#sub-info{
    color: #ffc107;
}

.panel-footer{
    background-color: #ffc107;
    text-align: center;

}

#reduce{
  color: red;
}

#heading{
    background: -webkit-linear-gradient(#ff6b01ad,#b3712e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
 
}

</style>
<div class="row">
  <div class="col-md-offset-5">
    <h1 id ="heading">My Cart</h1>
    <a href="/" class="btn" role="button"> Add More Items To Cart</a>  
  </div>
</div>
{{# if products}}

<div class="row mt-2">
    <div class="panel panel-default col-md-11 ml-5" style="background-color:black">
        <div class="panel-head">
            <h4 id="info">Proceed To Buy :- Sub-total ( {{ session.cart.totalQty }} items ): Rs {{ totalPrice }}  <a href="/checkout" class="btn" role="button"> Checkout</a> </h4>
        </div> 
        <hr>     
          <div class="panel-body"> 
              <div class="row">
                  <div class="col-md-3">
                     <p id="info">Product Name</p> 
                  </div>
                  <div class="col-md-2">
                     <p id="info">Quantity</p> 
                  </div>
                  <div class="col-md-2">
                     <p id="info">Reduce by 1 / All</p> 
                  </div>
                  <div class="col-md-2">
                     <p id="info">Price</p> 
                  </div>
                  <div class="col-md-3">
                     <p id="info" style="text-align:right; margin-right:15px">Total</p> 
                  </div>
              </div>      
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">                 
                       <div class="row">
                            <div class="col-md-3">
                                <p>{{ this.item.productname }}</p> 
                             </div>
                            <div class="col-md-2">
                                 <p>{{ this.qty }}</p> 
                            </div>
                            <div class="col-md-2">
                                 <strong><a id="reduce" href="/reduce/{{this.item._id}}">Reduce-By-1</a></strong>
                                 <strong><a id="reduce" href="/remove/{{this.item._id}}">/ All</a></strong>
                            </div>
                            <div class="col-md-2">
                                 <p>Rs :- {{ this.price }}</p> 
                            </div>
                            <div class="col-md-2">
                                  <span class="badge">Rs {{ this.price }}</span>
                            </div>

                           
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="panel-footer">
            <strong>Sub-total ( {{ session.cart.totalQty }} items ): Rs {{ totalPrice }}</strong>
             <a href="/checkout" class="btn" role="button">Checkout</a>
        </div>

    </div>

  </div>
</div>
{{/if}}
</div>
</div>




